<footer>
  <mat-toolbar>
    <div class="footer-logo">
      <img src="assets/imagens/logo-com-tagline.png" alt="" />
      <span>Horário de atendimento: 08h - 20h (Segunda a Sábado)</span>
      <span>Desenvolvido por Alura. Projeto fictício sem fins comerciais.</span>
    </div>

    <div class="footer-redes">
      <span>Acesse nossas redes:</span>
      <div class="footer-redes-img">
        <img src="assets/icones/whatsapp.png" alt="icone whatsapp" />
        <img src="assets/icones/instagram.png" alt="icone instagram" />
        <img src="assets/icones/twitter.png" alt="icone twitter" />
      </div>
    </div>
  </mat-toolbar>
</footer>
